<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>YelpCamp</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" href="https://i.imgur.com/uYSXsV7.png" type="image/x-icon/">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/75e02839f8.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" integrity="sha256-0rguYS0qgS6L4qVzANq4kjxPLtvnp5nn2nB5G1lWRv4=" crossorigin="anonymous"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://google.com/chrome" target="_blank">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
		<nav class="navbar navbar-dark bg-dark mb-3 navbar-expand-md">
			<div class="container-fluid">
				<div class="navbar-header">
					<a href="/" class="navbar-brand">YelpCamp</a>
				</div>
				<div class="collapse navbar-collapse justify-content-end">
					<ul class="navbar-nav">
						<% if(!currentUser){ %>

						<li class="nav-item" id="login_button"><a href="/login" class="nav-link">Login</a></li>
						<li class="nav-item" id="signup_button"><a href="/register" class="nav-link">Sign Up</a></li>
						<% } else { %>
						<li><a href="" class="nav-link">Signed In As <%= currentUser.username %></a></li>
						<li class="nav-item" id="logout_button"><a href="/logout" class="nav-link">Log Out</a></li>

						<% }; %>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container">
			<% if(error && error.length > 0){ %>
				<div class="alert alert-danger" role="alert">
					<%= error %>
				</div>
			<% } %>
			<% if (success && success.length > 0) { %>
				<div class="alert alert-success" role="alert">
					 <%= success %>
				</div>
			<% } %>
		</div>
			
       