<%- include("partials/header") %>
	<div class="container">
		<div class="row">
			<div class="col col-md-6 mx-auto">
				<h1 class="display-4 text-center">Log In</h1>
						<form name="newuser" action="/login" method="POST">
							<div class="form-group">
								<input type="text" name="username"  class="form-control" placeholder="Username" autofocus="autofocus">
							</div>
							<div class="form-group">
								<input type="password" name="password" class="form-control" placeholder="Password">
							</div>
							<div class="form-group">
								<button class="btn btn-lg btn-primary btn-block">
									Submit
								</button>
							</div>
						</form>
				<p>
					Don't have an account? <a href="/register">Create One Now!</a>
				</p>
			</div>
		</div>
	</div>
<%- include("partials/footer") %>