<%- include("../partials/header.ejs") %>
<div class="container">
		<h1 class="text-center">
		Create a new Campground
		</h1>
	<div class="row">
		<div id="" class="col col-md-6 mx-auto">
			<form action="/campgrounds" method="post" enctype="multipart/form-data">
				<div class="form-group">
					<label for="name">Campground Name</label>
					<input class="form-control" type="text" name="campground[name]" placeholder="Campground Name" required="true" autofocus="autofocus">
				</div>
				<div class="form-group">
					<label for="image">Upload campground picture</label>
					<input class="form-control"  type="file" name="image" required="true" accept="image/*" required ="true">
					<p>
						Accepted filetypes: jpg, jpeg, png, gif
					</p>
				</div>
				<div class="form-group">
					<label for="description">Campground Description</label>
					<input class="form-control"  type="textarea" name="campground[description]" placeholder="Description" required="true">
				</div>
				<div class="form-group">
					<label for="price">Price Per Night (USD)</label>
					<span class="d-block">$<input class="form-control d-inline"  type="number" step="0.01" name="campground[price]" placeholder="Price per night" required="true"></span>
				</div>
				<div class="form-group">
					<label for="location">Location</label>
    					<input class="form-control" type="text" name="campground[location]" id="location" placeholder="Yosemite National Park, CA" required="true">
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block">
					Submit
					</button>
				</div>
			</form>
			<a href="/campgrounds">Go Back</a>
		</div>
	</div>
</div>

<%- include("../partials/footer.ejs") %>